/* Variables */
:root {
    /* Color Scheme */
    --bg-primary: hsl(0, 0%, 33%);
    --bg-secondary: hsla(0, 0%, 7%, 0.9);
    --nav-primary: hsl(269, 54%, 28%);
    --nav-primary-tr: hsla(269, 54%, 28%, 0.945);
    --nav-secondary: hsl(262, 54%, 38%); 
    --nav-top: hsl(263, 43%, 12%);
    --nav-bottom: hsl(262, 27%, 45%);
    --nav-text: hsl(0, 0%, 100%);
    --hover: hsl(28, 100%, 78%); 
    --selected: hsl(149, 54%, 28%);

    --color-burn: hsl(16, 100%, 79%);
    --color-thunder: hsl(25, 31%, 40%);
    --color-thunderbolt: hsl(282, 44%, 69%);
    --color-ice: hsl(180, 94%, 79%);

    /* Text Stylings */
    font-family: "Arial", serif;
	font-size: clamp(14pt, 1.4vw, 18pt);
}

#back-to-top {
    display: none; /* Hide the button by default */
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
    opacity: 50%;
    border: none;
    background-color: var(--nav-primary); /* Use your custom color variable */
    padding: 1em;
    border-radius: 50%;
    cursor: pointer;
}
#back-to-top:hover {
    opacity: 100%;
}

/* Default Stylings */
body {
	color: white;
	background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
}
hr {
    width: 92%;
    margin: 0 auto;
}

/* Text Stylings */
h1 {
    text-align: center;
}
h1.alt {
    background-color: var(--bg-primary);
    max-width: 9em;
    margin: 5vh auto;
    padding: 1px;
    border-radius: 25px;
}

a {
    color: #6a6af0;
}
a:hover {
    color:#F0F06A;
}

#title {
    /* background-color: var(--bg-secondary); */
    text-shadow:
		-1px 1px 0 #ddd,
		-2px 2px 0 #c8c8c8,
		-3px 3px 0 #ccc,
		-4px 4px 0 #b8b8b8,
		-4px 4px 0 #bbb,
		0px 1px 1px rgba(0,0,0,.4),
		0px 2px 2px rgba(0,0,0,.3),
		-1px 3px 3px rgba(0,0,0,.2),
		-1px 5px 5px rgba(0,0,0,.1),
		-2px 8px 8px rgba(0,0,0,.1),
		-2px 13px 13px rgba(0,0,0,.1);
    display: inline-block;
    position: relative;
    left: 50%;
    margin-top: 4vh;
    margin-bottom: 0;
    padding-right: 25px;
    padding-left: 25px;
    transform: translateX(-50%);
    border-radius: 20px;
}

p {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.center, .caption{
    text-align: center;
    list-style-position: inside;
    padding: 1vh;
}
.caption {
    margin-top: 1px;
}

.left {
    text-align: left;
    list-style-position: inside;
    padding: 1vh;
}
ul.left {
    padding-right: calc(20% - 4rem);
    padding-left: calc(20% - 4rem);
}

.nodot {
    list-style-type: none;
    padding-inline-start: 0;
}

.square {
    list-style-type: square;
}

.burn-txt {
    color: var(--color-burn);
}
.thunder-txt {
    color: var(--color-thunder);
}
.thunderbolt-txt {
    color: var(--color-thunderbolt);
}
.ice-txt {
    color: var(--color-ice);
}

/* Media Stylings */
.alt-bg {
    background-image: url(./img/site/background1.png);
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.alt-bg div {
    width: 100%;
    height: 100%;
    background-color: rgba(18, 105, 139, 0.288);
}

.gif {
    height: 40vh;
    width: auto;
}
.gif-small {
    height: 25vh;
    width: auto;
}

img.large-example {
    display: block;
    margin: 0 auto;
    width: 95%;
}
img.example {
    display: block;
    margin: 0 auto;
    width: 50%;
}
img.icon {
    width: 20pt;
}

.large-example.potential {
    border-top-left-radius: 50vw;
    border-top-right-radius: 50vw;
}

.with-caption {
    margin-bottom: 1px;
}

/* Webiste Navigation Bar Stylings */
#navbar {
    position: sticky;
    z-index: 3;
    top: 0;
    width: 100%;
    background-image: url("./img/site/icon.png");
    background-repeat: round;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--nav-primary-tr);
    color: var(--nav-text);
    border-bottom: 1px solid black;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, .2);
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav-item {
    padding: 10px 20px;
    margin-right: 0.05vw;
    margin-left: 0.05vw;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}
.nav-item:hover {
    color: var(--hover);
    /* background-color: var(--nav-secondary); */
    padding-bottom: 9px;
    border-bottom: 1px solid var(--nav-bottom);
}

.nav-items .nav-item::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0.05vw;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
    right: -0.1vw;
}
.nav-items .nav-item:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0.05vw;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
    left: -0.1vw;
}

.home-button {
    float: left;
    padding: 1vh;
    margin-right: 0.4vw;
    cursor: pointer;
}
.home-button img {
    height: 7.5vh;
    background: transparent;
}

/* Website Navigation Bar - Dropdown Menu Stylings */
.dropdown-content {
    display: none;
    top: 100%;
    transform: translateX(-50%);
    left: 50%;
    animation: slide-down .3s ease-out;
    animation-fill-mode: none;
    position: absolute;
    width: 10rem;
    z-index: 3;
    transform-origin: top center;
}
.nav-item:hover .dropdown-content {
    display: block;
}
@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-10px) translateX(-50%);
    }
    to {
      opacity: 1;
      transform: translateY(0) translateX(-50%);
    }
}

#dropdownMenu.dropdown-content {
    transform: none;
    left: 0vw;
    width: 100%;
    animation: slide-down-M .4s ease-out;
}
@keyframes slide-down-M {
    from {
      opacity: 0;
      transform: translateY(-20vh);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.dropdown-option {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1.5px solid var(--nav-bottom);
    background-color: var(--nav-primary);
    transition: background-color 0.3s ease;
    color: var(--nav-text);
    text-decoration: none;
}
.dropdown-option:last-child {
    border-bottom: none;
}
.dropdown-option:hover {
    color: var(--hover);
}

/* Website Navigation Bar - Mobile Stylings */
.nav-toggle {
    display: none;
    height: 8vw;
    width: 8vw;
    border-radius: 12px;
    z-index: 3;
    background: transparent;
}
.nav-toggle img {
    width: 100%;
    height: 100%;
}

.mobile .dropdown-content {
    top: 7vh;
    left: -100%;
}
.mobile .dropdown-content a {
    text-decoration: none;
    display: block;
}
.mobile .dropdown-content a:hover {
    background-color: var(--hover);
    color: var(--bg-primary);
}

/* Banner Image Styling */
.banner img {
    z-index: 1;
    width: 100%;
    height: 92vh;
    object-fit: fill;
}

/* Page Navigation Bar Stylings */
.page-nav {
    position: relative;
    margin-top: 4vh;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
}
.page-nav-item {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    width: 12rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s ease;
    background-color: var(--nav-primary);
    border-top: 1px solid var(--nav-bottom);
    border-left: 1px solid var(--nav-bottom);
    border-bottom: 1px solid var(--nav-top);
    border-right: 1px solid var(--nav-top);
    border-radius: 4px;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, .2);
    color: var(--nav-text);
    cursor: pointer;
}
.page-nav-item:hover {
    color: var(--hover);
    background-color: var(--nav-secondary);
    box-shadow: 0.5rem 0.5rem 0.5rem var(--nav-top),
        0.5rem 0.5rem 0.5rem var(--nav-bottom);
}

.selected {
    color: var(--hover);
    background-color: var(--nav-secondary);
    border-top: 1px solid var(--nav-top);
    border-left: 1px solid var(--nav-top);
    border-bottom: 1px solid var(--nav-bottom);
    border-right: 1px solid var(--nav-bottom);
    box-shadow: 5px 5px 5px var(--nav-top) inset,
        5px 5px 5px var(--nav-bottom) inset;
}
.page-nav-item:hover.selected {
    box-shadow: 5px 5px 5px var(--nav-top) inset,
        5px 5px 5px var(--nav-bottom) inset;
}

/* Page Content Area Stylings */
#content {
    position: relative;
    top: 4vh;
    left: 2.5%;
    width: 95%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: var(--bg-secondary);
    border-radius: 25px;
    text-align: center;
}
#content.no-page-nav {
    top: 0;
}
.content {
    width: 100%;
    height: 100%;
}

/* Table Stylings */
.label {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 0;
}

/* Hero Table Stylings */
.heroes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.hero-bg {
    background-image: url(./img/site/heroes.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    min-width: 20rem;
    max-width: 40vw;
}

.hero-info.wielding {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid rgb(75, 75, 75);
    border-right: 2px solid rgb(75, 75, 75);
}
.hero-info.wielding .portrait {
    width: 100%;
}
.details img {
    width: 100%;
}

.hero-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    margin-bottom: 1.5vh;
    z-index: 3;

    font-family: Arial, sans-serif;
    font-size: clamp(14px, 1.4vw, 18px);
    overflow: hidden;
    word-break: normal;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid rgb(75, 75, 75);
    border-right: 2px solid rgb(75, 75, 75);
    background-color: var(--bg-secondary);
}
.hero-table .column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-table .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}
.hero-table .portrait {
    width: 20rem;
}
.hero-table .description {
    max-width: 66%;
}

.archetype img {
    width: 5rem;
    height: auto;
}
.weapons img {
    max-width: 8rem;
}
p.archetype, p.weapons {
    margin-left: 0;
    margin-right: 0;
}

/* Changelog Table Stylings */
table.changelog {
    border: 1px solid black;
    color: black;
    background-color: whitesmoke;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}
table.changelog th, table.changelog td {
    border: 1px solid black;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
}
table.changelog th:first-child, table.changelog td:first-child,
table.changelog th:nth-child(2), table.changelog td:nth-child(2) {
    width: 10vw; 
}
table.changelog th:nth-child(3), table.changelog td:nth-child(3) {
    width: 60vw; 
}

/* Souljade Set Ups Table Styling */
table.ice,
table.lightning,
table.fire,
table.thunderbolt {
    border-collapse: collapse;
    color: black;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

table.ice {
    background-color: var(--color-ice);
    border-top: 3px solid hsl(180, 94%, 90%);
    border-bottom: 3px solid hsl(180, 94%, 30%);
    border-right: 3px solid hsl(180, 94%, 30%);
    border-left: 3px solid hsl(180, 94%, 90%);
}
table.lightning {
    background-color: var(--color-thunder);
    border-top: 3px solid hsl(25, 31%, 90%);
    border-bottom: 3px solid hsl(25, 31%, 30%);
    border-right: 3px solid hsl(25, 31%, 30%);
    border-left: 3px solid hsl(25, 31%, 90%);
}
table.lightning a {
    color: #614686;
}
table.lightning a:hover {
    color: var(--hover);
}
table.fire {
    background-color: var(--color-burn);
    border-top: 3px solid hsl(16, 100%, 60%);
    border-bottom: 3px solid hsl(16, 100%, 30%);
    border-right: 3px solid hsl(16, 100%, 30%);
    border-left: 3px solid hsl(16, 100%, 60%);
}
table.thunderbolt {
    background-color: var(--color-thunderbolt);
    border-top: 3px solid hsl(282, 44%, 90%);
    border-bottom: 3px solid hsl(282, 44%, 30%);
    border-right: 3px solid hsl(282, 44%, 30%);
    border-left: 3px solid hsl(282, 44%, 90%);
}

.jade-set-up {
    margin-bottom: 5rem;
}
.jade-set-up th, .jade-set-up td {
    padding: 8px;
    width: 65%;
    text-align: center;
}
.jade-set-up th.header {
    font-weight: bold;
}
.jade-set-up tr.header {
    height: 32px;
}
.jade-set-up td:first-child {
    width: 35%;
}

@media (max-width: 1240px) {
    .nav-bar {
        padding-left: 3%;
        padding-right: 3%;
        justify-content: left;
    }
    .nav-toggle {
        display: block;
        border-top-color: var(--nav-secondary);
        border-left-color: var(--nav-secondary);
        border-bottom-color: black;
        border-right-color: black;
    }
    .nav-items {
        display: none;
        flex-direction: column;
    }
    .nav-item {
        display: none;
    }
    .nav-item.show {
        display: block;
    }

    .banner img {
        height: 50vh;
    }
    #title {
        margin-right: 0;
        margin-left: 0;
    }

    .page-nav-items {
      flex-direction: column;
      align-items: center;
    }

    .home-button {
        padding: 0;
        margin-top: 1vw;
        margin-bottom: 1vw;
        margin-right: 0;
        margin-left: calc(50% - 8vw - 14%);
    }
    .home-button img {
        width: 25vw;
    }

    .hero-bg {
        min-width: 98%;
    }
}

@media (max-width: 530px) {
    .gif {
        height: 25vh;
    }
    .gif-small {
        height: 15vh;
    }

    .portrait {
        max-width: 40vw;
    }
}