/* Variables */
:root {
    /* Color Scheme */
    --bg-primary: rgb(253, 253, 199); /* #fdfdc7 */
    --bg-secondary: rgb(255, 255, 224); /* #ffffe0 = lightyellow */
    --nav-primary: rgb(111,66,33); /* #6F4221 */
    --nav-secondary: rgb(150,89,45); /* #96592D */
    --hover: rgb(33,78,111); /* #214E6F */
    --selected: rgb(66, 33, 111); /* #42216F */

    /* Text Stylings */
    font-family: "Arial", serif;
	font-size: 14pt;
}

/* Default Stylings */
body {
	color: black;
	background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
}
hr {
    width: 92%;
    margin: 0 auto;
}

/* Text Stylings */
h1 {
    text-align: center;
}

.center, .caption{
    text-align: center;
    list-style-position: inside;
    padding: 1vh;
}
.caption {
    margin-top: 1px;
}

.left {
    text-align: left;
    list-style-position: inside;
    padding: 1vh;
}

.nodot {
    list-style-type: none;
    padding-inline-start: 0;
}

/* Media Stylings */
.gif {
    height: 40vh;
    width: auto;
}
.gif-small {
    height: 25vh;
    width: auto;
}

img.large-example {
    display: block;
    margin: 0 auto;
    width: 95%;
}
img.example {
    display: block;
    margin: 0 auto;
    width: 50%;
}
img.icon {
    width: 20pt;
}

.with-caption {
    margin-bottom: 1px;
}

/* Webiste Navigation Bar Stylings */
.nav-bar {
    position: sticky;
    z-index: 3;
    top: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 8vh;
    width: 100%;
    background-color: var(--nav-primary);
    color: var(--bg-primary);
    border: 1px solid black;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, .2);
}

.nav-items {
    display: flex;
    justify-content: left;
    flex-grow: 1;
}
.nav-item {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}
.nav-item:hover {
    color: var(--hover);
    background-color: var(--nav-secondary);
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.nav-items .nav-item::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
    right: -1px;
}
.nav-items .nav-item:last-child::after {
    content: none;
}

.home-button {
    float: left;
    padding: 1vh;
    cursor: pointer;
}
.home-button img {
    height: 6vh;
    background: transparent;
}

/* Website Navigation Bar - Dropdown Menu Stylings */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--nav-secondary);
    width: 200px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 10px;
    z-index: 3;
}
.nav-item:hover .dropdown-content {
    display: block;
}

.dropdown-option {
    display: block;
    padding: 10px 1px;
    border-top: 1px solid black;
    transition: background-color 0.3s ease;
    color: var(--bg-primary);
    text-decoration: none;
}
.dropdown-option:last-child {
    border-bottom: 1px solid black;
}
.dropdown-option:hover {
    background-color: var(--hover);
    color: var(--bg-primary);
}

/* Website Navigation Bar - Mobile Stylings */
.nav-toggle {
    display: none;
    height: 6vh;
    width: 6vh;
    border-radius: 12px;
    margin-right: 1vh;
    z-index: 3;
    background: transparent;
}
.nav-toggle img {
    width: 100%;
    height: 100%;
}

.mobile {
    position: relative;
}
.mobile .dropdown-content {
    top: 7vh;
    left: -100%;
}
.mobile .dropdown-content a {
    text-decoration: none;
    display: block;
}
.mobile .dropdown-content a:hover {
    background-color: var(--hover);
    color: var(--bg-primary);
}

/* Banner Image Styling */
.banner img {
    z-index: 1;
    width: 100%;
    height: 92vh;
    object-fit: fill;
}

/* Page Navigation Bar Stylings */
.page-nav {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: auto;
    padding-left: 1vw;
    padding-right: 1vw;
    top: 18vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--nav-primary);
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, .2);
}
.page-nav-items {
    display: flex;
    justify-content: left;
    flex-grow: 1;
}
.page-nav-item {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: 0;
    background-color: var(--nav-primary);
    color: var(--bg-primary);
    cursor: pointer;
    position: relative;
    border-radius: 12px;
}
.page-nav-item:hover {
    color: var(--hover);
    background-color: var(--nav-secondary);
}

.selected {
    color: var(--selected);
    text-decoration: underline;
}

/* Page Content Area Stylings */
#content {
    position: relative;
    top: 10vh;
    left: 10%;
    width: 80vw;
    background-color: var(--bg-secondary);
    border-radius: 25px;
    text-align: center;
}
.content {
    width: 100%;
    height: 100%;
}

/* Table Stylings */
table {
    border: 1px solid black;
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
    margin-bottom: 1.5vh;
}
.portrait {
    object-fit: contain;
    max-height: 40vh;
    width: 30vw;
}
.details {
    text-align: center;
    width: 50vw;
}
.details img {
    width: 100%;
}
.label {
    font-weight: bold;
    font-size: 15px;
}
.archetype, .weapons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 8vh;
}
.archetype img, .weapons img {
    height: 100%;
    width: auto;
}
table .description {
    text-align: center;
    max-height: 30vh;
}
table.attack .portrait {
    width: 30vw;
}

/* Hero Table Stylings */
.hero-table {
    display: flex;
    border: 1px solid black;
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    font-size: 1.4vw;
    overflow: hidden;
    word-break: normal;
    margin-bottom: 1.5vh;
}

.hero-table .row {
    display: inline-flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.row .subject, 
.row .details {
    display: flex;
    flex-direction: column;
    justify-content: center; /* aligns items horizontally */
    align-items: center; /* aligns items vertically */
    text-align: center; /* centers text */
}

/* Changelog Stylings */
table.changelog {
    border: 1px solid black;
    background-color: whitesmoke;
    border-collapse: collapse;
    width: 80vw;
    margin: 0 auto;
}
table.changelog th, table.changelog td {
    border: 1px solid black;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
}
table.changelog th:first-child, table.changelog td:first-child,
table.changelog th:nth-child(2), table.changelog td:nth-child(2) {
    width: 10vw; 
}
table.changelog th:nth-child(3), table.changelog td:nth-child(3) {
    width: 60vw; 
}

/* Souljade Set Ups Styling */
table.ice {
    background-color: lightblue;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
table.lightning {
    background-color: palegoldenrod;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.ice th, .ice td, 
.lightning th, .lightning td {
    padding: 8px;
    width: 50%;
    text-align: center;
}
.ice th.header, .lightning th.header {
    font-weight: bold;
}
.ice tr.header, .lightning tr.header {
    height: 32px;
}

@media (max-width: 1240px) {
    .nav-toggle {
        display: block;
    }
    .nav-items {
        display: none;
        flex-direction: column;
    }
    .nav-item {
        display: none;
    }
    .nav-item.show {
        display: block;
    }

    .page-nav-items {
      flex-direction: column;
      align-items: center;
    }

    .home-button img {
        width: 75vw;
    }

    #content {
        top: 30vh;
    }

    .hero-table {     
        display: inline-block;
        justify-content: center;
    }
}