/* Default Stylings */
body {
    font-family: "Arial", serif;
	font-size: 14pt;
	background-color: lightgray;
	color: black;
    margin: 0px;
}

.header {
    font-style: italic;
    font-weight: bold;
    font-size: 18pt;
}
.title {
    font-weight: bold;
    font-size: 24pt;
    text-align: center;
    margin: 5vh;
}

/* Logo Stylings */
.logo-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.logo-container img {
    margin: 0 7px;
    width: 450px;
}

/* Navigation Menu Stylings */
.home-button {
    float: left;
    padding: 10px 20px;
    cursor: pointer;
}
.home-button img {
    /*width: 40px;*/
    height: 6vh;
    background: transparent;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 8vh;
    background-color: #6F4221;
    color: #fbffdb;
}
.menu-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-items {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.menu-item {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}
.menu-item:hover {
    background-color: #214E6F;
    border-radius: 12px;
}

/* Navigation Menu - Dropdown Menu Stylings */
.dropdown-content {
    z-index: 1;
    display: none;
    position: absolute;
    background-color: #96592D;
    width: 200px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.menu-item:hover .dropdown-content {
    display: block;
}

.dropdown-option {
    padding: 10px;
    color: #fbffdb;
    text-decoration: none;
    display: block;
}
.dropdown-option:hover {
    background-color: #2D6A96;
}

/* Banner Image Styling */
.banner img {
    z-index: 0;
    width: 50%;
    transform: translateX(+50%);
    object-fit: cover;
}